$break-large: 992px;
$break-medium: 768px;
$break-small: 576px;

@mixin spacing($mt,
$mb) {
  margin-top: $mt;
  margin-bottom: $mb;
}

@mixin font-archive ($mt, $fs, $lh, $cl) {
  margin-top: $mt;
  font-size: $fs;
  line-height: $lh;
  color: $cl;
}

.container-archive {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
  width: 85%;
  margin: 20px auto;
  .sub-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-self: flex-start;
    justify-content: center;
    width: 45%; 
    img {
      width: 100%;
      margin-top: 30px;
    }
    .desc {
      width: 100%;
      text-align: left;
      padding: 0 20px;
      box-sizing: border-box;
      h2 {
        @include font-archive(40px, 21px, 27px, #111111);        
      }
      p {
        @include font-archive(10px, 14px, 18px, #888888);
      }
    }
    &.half {
      flex-flow: row;
      flex-wrap: wrap;
      img {
        width: 35%;
      }
      .desc {
        width: 65%;
      }
    }
  }
}


@media screen and (max-width: $break-large) {	
	.container-archive {  
    width: 95%;
    .sub-container {
      width: 48%;   
    }
  }
}


@media screen and (max-width: $break-medium) {	
	.container-archive {
    .sub-container {
      .desc {
        padding: 0 10px;
        h2 {
          @include font-archive(35px, 16px, 18px, #111111);        
        }
        p {
          @include font-archive(10px, 12px, 15px, #888888);
        }
      }
    }
  }
}

@media screen and (max-width: $break-small) {	
	.container-archive {
    width: 90%;
    .sub-container {
      width: 100%;
      order: 1;
      img {
        margin-top: 25px;
      }
      .desc {
        padding: 0 10px;
        h2 {
          @include font-archive(30px, 21px, 27px, #111111);        
        }
        p {
          @include font-archive(10px, 14px, 18px, #888888);
        }
      }
      &.half {
        order: 2;
      }
    }
  }
}