.process-image {
  max-width: 100%;
  padding: 0 5%;
  margin-top: 30px;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.hero-image {
  max-width: 100% !important;
  margin-left: 0 !important;
  padding: 0 3%;
  margin-top: 100px;
  margin-bottom: 100px;
  box-sizing: border-box;
}

.robinhood-container {
  width: 100%;
  max-width: 650px;
  margin: 40px auto;
}
.robinhood-container.image {
  margin-top: 50px;
  max-width: 80%;
}
.robinhood-container.image .robinhood-images {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.robinhood-container.image .robinhood-images img {
  width: 100%;
  height: 100%;
}
.robinhood-container.image .robinhood-images img.two {
  width: 25%;
}
.robinhood-container.image .link {
  margin: 30px auto;
  max-width: 350px;
  display: flex;
  justify-content: space-between;
}
.robinhood-container.image .link a {
  color: #ababab;
  padding-bottom: 8px;
  border-bottom: 1px solid #ababab;
  font-size: 16px;
  letter-spacing: 0.17px;
  line-height: 30px;
  display: inline;
  position: relative;
  overflow: hidden;
}
.robinhood-container.image .link a:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0px;
  background: #000;
  height: 1px;
  transition-property: left right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.robinhood-container.image .link a:hover:after, .robinhood-container.image .link a:focus:after, .robinhood-container.image .link a:active:after {
  right: 0;
}
.robinhood-container.image .link a.active {
  color: #222222;
  border-color: #222222;
}
.robinhood-container h1 {
  margin-top: 20px;
  font-size: 24px;
  color: #111111;
  letter-spacing: 0.26px;
  line-height: 33px;
}
.robinhood-container p {
  margin-top: 20px;
  font-size: 16px;
  color: #333333;
  letter-spacing: 0.17px;
  line-height: 30px;
}
.robinhood-container ol {
  margin-top: 20px;
  padding-left: 10px;
  list-style: decimal;
}
.robinhood-container ol li {
  margin-top: 20px;
  font-size: 16px;
  color: #333333;
  letter-spacing: 0.17px;
  line-height: 30px;
}

.hero-title.robinhood {
  margin-top: 150px;
  text-align: center;
}
.hero-title.robinhood h1 {
  font-size: 80px;
  line-height: 86px;
}
.hero-title.robinhood p {
  margin-top: 40px;
  font-size: 30px;
  line-height: 40px;
}

@media screen and (max-width: 992px) {
  .robinhood-container {
    margin: 30px auto;
  }
  .robinhood-container.image {
    margin-top: 30px;
    max-width: 85%;
  }
  .robinhood-container.image .robinhood-images img.two {
    width: 30%;
  }
  .robinhood-container.image .link {
    max-width: 300px;
  }
  .robinhood-container.image .link a {
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 20px;
  }
  .robinhood-container h1 {
    margin-top: 15px;
    font-size: 22px;
    line-height: 28px;
  }
  .robinhood-container p {
    margin-top: 15px;
    font-size: 15px;
    line-height: 26px;
  }
  .robinhood-container ol {
    margin-top: 15px;
    padding-left: 10px;
  }
  .robinhood-container ol li {
    margin-top: 15px;
    font-size: 15px;
    line-height: 26px;
  }

  .hero-image {
    padding: 0%;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 768px) {
  .robinhood-container {
    margin: 25px auto;
    max-width: 500px;
  }
  .robinhood-container.image {
    margin-top: 30px;
    max-width: 90%;
  }
  .robinhood-container.image .robinhood-images img.two {
    width: 35%;
  }
  .robinhood-container.image .link {
    max-width: 220px;
  }
  .robinhood-container.image .link a {
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 16px;
  }
  .robinhood-container h1 {
    margin-top: 15px;
    font-size: 20px;
    line-height: 24px;
  }
  .robinhood-container p {
    margin-top: 15px;
    font-size: 13px;
    line-height: 20px;
  }
  .robinhood-container ol {
    margin-top: 15px;
    padding-left: 10px;
  }
  .robinhood-container ol li {
    margin-top: 15px;
    font-size: 13px;
    line-height: 20px;
  }

  .hero-image {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .hero-title {
    margin-top: 120px;
  }
  .hero-title.robinhood h1 {
    font-size: 65px;
    line-height: 70px;
  }
  .hero-title.robinhood p {
    font-size: 25px;
    line-height: 30px;
  }
}
@media screen and (max-width: 576px) {
  .robinhood-container {
    margin: 15px auto;
    max-width: 90%;
  }
  .robinhood-container.image {
    margin-top: 20px;
    max-width: 90%;
  }
  .robinhood-container.image .robinhood-images img.two {
    width: 45%;
  }
  .robinhood-container.image .link {
    max-width: 180px;
  }
  .robinhood-container.image .link a {
    padding-bottom: 5px;
    font-size: 10px;
    line-height: 14px;
  }
  .robinhood-container h1 {
    margin-top: 10px;
    font-size: 17px;
    line-height: 22px;
  }
  .robinhood-container p {
    margin-top: 10px;
    font-size: 11px;
    line-height: 18px;
  }
  .robinhood-container ol {
    margin-top: 10px;
    padding-left: 10px;
  }
  .robinhood-container ol li {
    margin-top: 10px;
    font-size: 11px;
    line-height: 18px;
  }

  .hero-image {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .hero-title.robinhood {
    margin-top: 100px;
  }
  .hero-title.robinhood h1 {
    font-size: 50px;
    line-height: 60px;
  }
  .hero-title.robinhood p {
    font-size: 20px;
    line-height: 25px;
    padding: 0 20px;
  }
}

/*# sourceMappingURL=style.css.map */
