$break-large: 992px;
$break-medium: 768px;
$break-small: 576px;

@mixin spacing($mt,
$mb) {
    margin-top: $mt;
    margin-bottom: $mb;
}

.process-image {
	max-width: 100%;
	padding: 0 5%;
	@include spacing(30px,
	50px);
	box-sizing: border-box;
}

.hero-image {
	max-width: 100% !important;
	margin-left: 0 !important;
	padding: 0 3%;
	@include spacing(100px,
	100px);
	box-sizing: border-box;
}

.robinhood-container{
	width: 100%;
	max-width: 650px;
	margin: 40px auto;
	&.image {
		margin-top: 50px;
		max-width: 80%;
		.robinhood-images {
			width: 100%;
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;
			img {
				width: 100%;
				height: 100%;
				&.two {
					width: 25%;
				}
			}
		}		
		.link {
			margin: 30px auto;
			max-width: 350px;
			display: flex;
			justify-content: space-between;
			a {
				color: #ababab;
				padding-bottom: 8px;
				border-bottom: 1px solid #ababab;
				font-size: 16px;
				letter-spacing: 0.17px;
				line-height: 30px;
				display: inline;
				position: relative;
				overflow: hidden;
				&:after {
					content: "";
					position: absolute;
					z-index: -1;
					left: 0;
					right: 100%;
					bottom: 0px;
					background: #000;
					height: 1px;
					transition-property: left right;
					transition-duration: 0.3s;
					transition-timing-function: ease-out;
				}
				&:hover,
				&:focus,
				&:active {
					&:after {
						right: 0;
					}					
				}
				&.active {
					color: #222222;
					border-color: #222222;
				}
			}			
		}
	}
	h1 {
		margin-top: 20px;
		font-size: 24px;
		color: #111111;
		letter-spacing: 0.26px;
		line-height: 33px;
	}
	p {
		margin-top: 20px;
		font-size: 16px;
		color: #333333;
		letter-spacing: 0.17px;
		line-height: 30px;
	}
	ol {
		margin-top: 20px;
		padding-left: 10px;
		list-style: decimal;
		li {
			margin-top: 20px;
			font-size: 16px;
			color: #333333;
			letter-spacing: 0.17px;
			line-height: 30px;
		}
	}
}

.hero-title {
	&.robinhood {
		@include spacing(150px,
	null);
		text-align: center;
		h1 {
			font-size: 80px;
			line-height: 86px;
		}
		p {
			@include spacing(40px,
			null);
			font-size: 30px;
			line-height: 40px;
		}
	}
}


@media screen and (max-width: $break-large) {	
	.robinhood-container{
		margin: 30px auto;
		&.image {
			margin-top: 30px;
			max-width: 85%;
			.robinhood-images {
				img {
					&.two {
						width: 30%;
					}
				}
			}		
			.link {
				max-width: 300px;
				a {
					padding-bottom: 5px;
					font-size: 14px;
					line-height: 20px;
				}
			}
		}
		h1 {
			margin-top: 15px;
			font-size: 22px;
			line-height: 28px;
		}
		p {
			margin-top: 15px;
			font-size: 15px;
			line-height: 26px;
		}
		ol {
			margin-top: 15px;
			padding-left: 10px;
			li {
				margin-top: 15px;
				font-size: 15px;
				line-height: 26px;
			}
		}
	}
	.hero-image {
		padding: 0%;
		@include spacing(80px,
		80px);
	}
}


@media screen and (max-width: $break-medium) {	
	.robinhood-container{
		margin: 25px auto;
		max-width: 500px;
		&.image {
			margin-top: 30px;
			max-width: 90%;
			.robinhood-images {
				img {
					&.two {
						width: 35%;
					}
				}
			}		
			.link {
				max-width: 220px;
				a {
					padding-bottom: 5px;
					font-size: 12px;
					line-height: 16px;
				}
			}
		}
		h1 {
			margin-top: 15px;
			font-size: 20px;
			line-height: 24px;
		}
		p {
			margin-top: 15px;
			font-size: 13px;
			line-height: 20px;
		}
		ol {
			margin-top: 15px;
			padding-left: 10px;
			li {
				margin-top: 15px;
				font-size: 13px;
				line-height: 20px;
			}
		}
	}
	.hero-image {
		@include spacing(60px,
		60px);
	}
	.hero-title {
		@include spacing(120px,
		null);
		&.robinhood {
			h1 {
				font-size: 65px;
				line-height: 70px;
			}
			p {
				font-size: 25px;
				line-height: 30px;
			}
		}
	}
}

@media screen and (max-width: $break-small) {	
	.robinhood-container{
		margin: 15px auto;
		max-width: 90%;
		&.image {
			margin-top: 20px;
			max-width: 90%;
			.robinhood-images {
				img {
					&.two {
						width: 45%;
					}
				}
			}		
			.link {
				max-width: 180px;
				a {
					padding-bottom: 5px;
					font-size: 10px;
					line-height: 14px;
				}
			}
		}
		h1 {
			margin-top: 10px;
			font-size: 17px;
			line-height: 22px;
		}
		p {
			margin-top: 10px;
			font-size: 11px;
			line-height: 18px;
		}
		ol {
			margin-top: 10px;
			padding-left: 10px;
			li {
				margin-top: 10px;
				font-size: 11px;
				line-height: 18px;
			}
		}
	}
	.hero-image {
		@include spacing(40px,
		40px);
	}
	.hero-title {
		&.robinhood {
			@include spacing(100px,
		null);
			h1 {
				font-size: 50px;
				line-height: 60px;
			}
			p {
				font-size: 20px;
				line-height: 25px;
				padding: 0 20px;
			}
		}
	}
}

.footer-robinhood {
	height: 100px;
}

.circCont {
	width: 100px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 35px;
	left: calc(50% - 50px);
}

#btn-close {
	width: 50px;
	height: 50px;
	background-color: #101010;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	position: absolute;
	cursor: pointer;
	display: inline-block;
}

#btn-close-expand {
	width: 0px;
	height: 50px;
	background-color: #101010;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 25px;
	position: absolute;
	cursor: pointer;
	display: inline-block;
	overflow:hidden;
	-webkit-transition: width 0.2s ease-in-out;
	-moz-transition: width 0.2s ease-in-out;
	-o-transition: width 0.2s ease-in-out;
	transition: width 0.2s ease-in-out;
	.btn-title {
		font-size: 15px;
    color: #f3f3f3;
    margin-top: 18px;
    margin-left: 46px;
    font-weight: bold;
    letter-spacing: 0.3px;
	} 
	.circle {
		width: 18px;
		height: 18px;
		background-color: transparent;
		border: solid 2px #f3f3f3;
		-moz-border-radius: 25px;
		-webkit-border-radius: 25px;
		border-radius: 25px;
		position: absolute;
		cursor: pointer;
		display: inline-block;
		margin-top: 14px;
		margin-left: 14px;
		&:before{
			left: 50%;
			top: 50%;
			margin-left: -5px;
			margin-top: -1px;
			width: 10px;
			height: 2px;
			background-color: #f3f3f3;
			content: "";
			position: absolute;
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&:after {
			width: 10px;
			height: 2px;
			background-color: #f3f3f3;
			content: "";
			left: 50%;
			top: 50%;
			margin-left: -5px;
			margin-top: -1px;
			position: absolute;
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}		
	}
}

#btn-close:before {
	left: 50%;
	top: 50%;
	margin-left: -8px;
	margin-top: -1px;
	width: 15px;
	height: 2px;
	background-color: #f3f3f3;
	content: "";
	position: absolute;
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#btn-close:after {
	width: 15px;
	height: 2px;
	background-color: #f3f3f3;
	content: "";
	left: 50%;
	top: 50%;
	margin-left: -8px;
	margin-top: -1px;
	position: absolute;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}